.table-container {
    min-width: 335px;
    width: 100%;
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.table-container table thead {
    background: var(--blue-primary);
    color: var(--white);
    height: 47px;
}

.table-container table thead tr {
    text-align: left;
}

.table-container table thead tr th {
    padding: 16px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
}

.table-container table thead tr th:first-child {
    width: 44px;
}

.table-container table thead tr th:last-child {
    text-align: right;
}

.table-container table thead tr th.last::after {
    content: " ";
    background-color: var(--white);
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 12px;
}

.table-container table tbody {
    background: var(--white);
    color: var(--black);
}

.table-container table .table-row {
    height: 60px;
    text-align: left;
    box-shadow: var(--shadow-2);
}

.table-container table .table-row th {
    padding: 16px;
}

.table-container table .table-row th img {
    border-radius: 50%;
}

.table-container table .table-row td {
    padding: 16px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
}

.table-container table .table-row td:last-child {
    text-align: right;
}